/* latin */
@font-face {
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./fonts/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
label,
fieldset,
p,
blockquote,
input {
	margin: 0;
	padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	margin: 0;
	padding: 0
}

html {
	background: #FFF;
	color: #333;
	font: .875em/1.5 "Helvetica Neue", Arial, sans-serif;
	text-align: center
}

body {
	max-width: 60em;
	margin: 0 auto;
	padding: .5em
}

h1 {
	font-weight: 700;
	font-size: 2em;
	margin: 0
}

h2 {
	font-weight: bold;
	color: #666;
	font-size: 1em !important;
	font-family: Georgia, serif;
	margin: .25em 0 .5em
}

h2.panel-label {
	margin: 0 0 0 .5em;
	padding: 0;
	height: 1.3em;
	clear: both;
	/* font-size: 1em !important; */
	/* font-family: 'Fredoka One', sans-serif; */
	color: black;
	font-weight: lighter
		/* color: #ffcb05;
	text-shadow: 1.5px 1.5px #3b4cca, -1.5px 1.5px #3b4cca, 1.5px -1.5px #3b4cca, -1.5px -1.5px 2px #3b4cca; */
}

h1.pokemon-title {
	font-family: 'Fredoka One', sans-serif;
	color: #ffcb05;
	text-shadow: 1.5px 1.5px #3b4cca, -1.5px 1.5px #3b4cca, 1.5px -1.5px #3b4cca, -1.5px -1.5px 2px #3b4cca;
	/* margin-bottom: 20px; */
	font-size: 2em;
}

.tip-marker {
	font-size: .5em;
	color: #a4a4a1;
}

.menu,
.menu:before {
	border: 1px solid #000;
	border-radius: 2px
}

.menu {
	padding: .5em .5em;
	border-bottom-width: 2px;
	position: relative;
	margin: 0 auto;
	z-index: revert-layer;
	/* overflow: auto; */
	/* box-sizing: border-box; */
}

.menu:before {
	border-top-width: 2px;
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px
}

.options-panel {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.option-unit,
.option-unit-medium {
	display: inline-flex;
	flex-wrap: nowrap;
	width: 33%;
	justify-content: flex-end;
	align-items: center;
	margin: .3em 0em;
}

.option-unit>label {
	max-width: 40%;
}

.option-unit-medium>label {
	max-width: 30%;
}

.option-unit-medium>.num_rangecontainer {
	width: 40% !important;
}

.option-unit-medium>.dropdown {
	width: 30% !important;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 60%;
}

.dropdown>button:after {
	content: "";
	border: .3em solid transparent;
	border-top-color: currentColor;
	display: inline-block;
	margin-left: .25em;
	transform: translateY(0.15em)
}

.dropdown .popup {
	position: absolute;
	top: calc(100%);
	background: #EEE;
	box-shadow: 0 0 .25em currentColor;
	line-height: 1.5;
	text-align: left;
	display: none;
	padding: .5em;
	border-radius: 2px;
	z-index: 20
}

.dropdown .popup.visible {
	display: block
}

.dropdown>.popup ul {
	margin: 0;
	padding: 0
}

.dropdown>.popup li {
	list-style: none;
	margin: .25em 0
}

.dropdown>button {
	width: 100%;
	max-width: 100%;
	height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.1em;
}

/* 提示图标 */
.info-icon {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	color: rgb(213, 213, 213);
	text-align: center;
	line-height: 30px;
	font-size: 10px;
	cursor: pointer;
	margin-left: 5px;
	/* 将图标与标签内容分开 */
}

.info-icon::after {
	content: "i";
}

.info-tooltip {
	position: absolute;
	top: 0;
	left: calc(100% + 10px);
	/* 相对于图标的位置 */
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	white-space: nowrap;
	display: none;
	/* 初始隐藏提示信息 */
}

.container {
	display: flex;
	/* flex-wrap: wrap; */
}

/* #n {
	display: inline-block;
	clear: both;
} */

/* 提示图标 */

p,
ul,
ol {
	margin: 0 0 1em 1em;
}

p {
	text-indent: 1em;
}

ul,
ol {
	padding-left: 1em;
}

article,
section {
	margin: 1em 0
}

a,
button.text {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #AAA
}

a {
	color: blue;
	font-weight: bold;
}

a:hover,
button.text:hover {
	color: #666
}

options-panel {
	display: inline-flex;
	flex-wrap: wrap;
	border: 0;
	cursor: default;
	line-height: 2;
	/* margin: 0.5em 0.1em; */
	width: 33%;
	justify-content: flex-end;

}

label {
	white-space: nowrap;
	margin: 0 0.2em 0 0;
	overflow: hidden;
	text-align: right;
}

.tip-label {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 3px;
	height: 1.5em;
}

select {
	margin-right: 1em
}

input[type="checkbox"] {
	vertical-align: baseline;
	margin-right: .25em
}

button,
input[type="button"],
input[type="submit"] {
	cursor: pointer
}

#controls input[type="submit"] {
	font-size: 1em;
	padding: .125em .25em
}


abbr {
	cursor: help;
	border-bottom: 1px dotted;
	text-decoration: none
}

.generate-button {
	background: linear-gradient(145deg, #ffd700, #ffa500);
    border: 1px solid transparent;
    border-radius: 0.9em;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.7);
    color: #2b2b6c;
    font-size: 1.3em;
    font-weight: bold;
    /* padding: 0.5em; */
    text-align: center;
    transition: all 0.1s ease-in-out;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generate-button:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.7);
}

.generate-button:active {
	box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.7);
	transform: translateY(1px);
}

/* .generate-button {
	background: linear-gradient(145deg, #ffd700, #ffa500);
	border: 1px solid transparent;
	border-radius: 0.6em;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.7), inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.1);
	color: #2b2b6c;
	font-size: 1em;
	font-weight: bold;
	padding: 0.3em 1em;
	text-align: center;
	transition: all 0.2s ease-in-out;
	margin-top: 0;
}

.generate-button:hover {
	background: linear-gradient(145deg, #ffa500, #ffd700);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
		-2px -2px 4px rgba(255, 255, 255, 0.7),
		inset -1px -1px 2px rgba(255, 255, 255, 0.5),
		inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.generate-button:active {
	background: linear-gradient(145deg, #ffa500, #ffd700);
	box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
		inset -4px -4px 8px rgba(255, 255, 255, 0.7);
	transform: translateY(2px);
} */

.clear {
	clear: both
}

.hidden {
	visibility: hidden
}

.invisible {
	display: none
}

.sub-title {
	margin: 0;
	font-size: 0.5em;
}

.loading:after {
	position: absolute;
	top: 70%;
    left: 115%;
	z-index: -2;
	content: "";
	width: 1em;
	height: 1em;
	margin: -1em 0 0;
	border-radius: 1em;
	border: .25em solid;
	border-color: currentColor transparent;
	animation: 1.25s linear infinite rotate, .5s ease-out 0s 1 fadeIn;
}

#history {
	margin: 1em 0 0;
	display: flex;
	justify-content: space-between
}

button.text {
	background: transparent;
	color: inherit;
	border: 0;
	padding: 0
}

#results li {
	display: inline-block;
	height: 3em;
	padding-top: 128px;
	width: 33%;
	margin-bottom: 1em;
	position: relative;
	list-style: none;
	animation: 0.5s ease-out 0s 1 fadeIn
}

#results .nature {
	color: #888
}

.star {
	color: #F4D04D
}

#results li.shiny:before,
#results li.shiny:after,
#results li.shiny .star:before,
#results li.shiny .star:after {
	content: "\2605";
	position: absolute;
	top: 64px;
	left: 50%;
	font-size: .75em;
	opacity: 0;
	pointer-events: none;
	z-index: 100
}

#results li.shiny:before {
	animation: .6s steps(8) .075s 1 rotateStar, .075s alternate steps(2) infinite shine;
	font-size: 1.5em
}

#results li.shiny:after {
	animation: .6s steps(8) .150s 1 rotateStar, .075s alternate steps(2) infinite shine
}

#results li.shiny .star:before {
	animation: .6s steps(8) .225s 1 rotateStar, .075s alternate steps(2) infinite shine
}

#results li.shiny .star:after {
	animation: .6s steps(8) .300s 1 rotateStar, .075s alternate steps(2) infinite shine
}

#results img {
	position: absolute;
	bottom: 3em;
	left: 50%;
	transform: translateX(-50%);
	width: 10em;
	height: 10em;
	/* background-image: url(favicon-192.png); */
}

#results li.imageless {
	font-weight: 700;
	margin: 2em 0;
	height: auto;
	padding: 0
}

#shiny-toggler {
	margin-bottom: .5em
}

#shinies {
	margin-top: 1em
}

#shiny-container button {
	margin-bottom: 1em
}

#shiny-toggler.is-showing .is-hiding,
#shiny-toggler.is-hiding .is-showing {
	display: none
}

footer {
	font-size: .875em;
	padding: 3em 0;
	color: #666;
	clear: both
}

/* 单选按钮组 */
.radio-group {
	margin-bottom: 15px;
	display: inline-flex;
	align-items: center;
	border: 1px solid #CCC;
}

.radio-group>p {
	margin: 0;
	margin-right: 10px;
	margin-left: 5px;
}

.radio-group label {
	margin-right: 10px;
}

.radio-group input[type="radio"] {
	margin-right: 5px;
}

/* 单选按钮组 */

/* 数字范围输入控件组 */
.num_rangecontainer {
	width: 60%;
	display: inline-flex;
	justify-content: center;
}

.num_range {
	width: 100%;
	height: 1.5em;
	padding: 0em;
	margin: 0;
	display: inline-flex;
	align-items: center;
	/* border: 1px solid #CCC; */
	line-height: 1;
	overflow: hidden;
	justify-content: center;
}

.num_range>input[type="number"] {
	margin-left: 0px;
	margin-right: 0px;
}

.num_range>input:nth-of-type(1) {
	width: 45%;
}

.num_range>input:nth-of-type(2) {
	width: 45%;
}

.num_range>label:nth-of-type(1) {
	margin: 0;
	width: 10%;
	text-align: center;
}

.more-button {
	display: block;
	float: right;
	height: 1.4em;
	padding: 0em;
	width: 8em;
	font-size: 1em;
	/* color: #FFF; */
	/* background-color: rgb(213, 211, 211); */
	border-radius: 0.3em;
	border: 1px solid #CCC;
}

.more-button:hover {
	background-color: #b0b0b0;
}

.default-hidden {
	display: none;
}

.n_generator {
	clear: both;
	width: auto;
	display: inline-flex;
	height: 1.5em;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
	position: relative;
}

/* 数字范围输入控件组 */

/* 页面内容 */
h2 {
	cursor: pointer;
	padding: 10px;
	/* background-color: #f4f4f4; */
	margin: 0;
	text-align: left;
	display: block !important;
	/* clear: both; */
}

.arrow {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	border: solid #000 2px;
	border-bottom-width: 0;
	transform: rotate(-45deg);
}

.content {
	padding: 10px;
	display: none;
	text-align: justify;
	font-family: geistSansFont, arial;
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 150px;
}

.carousel-inner {
	display: flex;
	animation: scroll 20s linear infinite;
}

.carousel-inner>div {
	min-width: 20%;
	box-sizing: border-box;
	padding: 10px;
}

.arrow-icon {
	margin-right: 10px;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-2000%);
	}
}

/* 页面内容 */

/* 适配不同屏幕大小 */
@media screen and (max-width:27em) {
	header {
		font-size: .75em
	}
}

@media screen and (max-width:21em) {
	header {
		font-size: .625em
	}
}

@media screen and (max-width:420px) {
	#results li {
		width: 49%
	}
}

@media screen and (max-width:699px) {

	#main-options .option-unit,
	#main-show-options .option-unit {
		width: 49%;
	}
}

@media screen and (max-width:329px) {

	#main-options .option-unit,
	#main-show-options .option-unit {
		width: 98%;
	}
}

@media screen and (max-width:859px) {

	#more-options .option-unit,
	#more-options .option-unit-medium {
		width: 49%;
	}
}

@media screen and (max-width:549px) {

	#more-options .option-unit,
	#more-options .option-unit-medium {
		width: 98%;
	}
}

@media screen and (max-width:308px) {
	#results li {
		float: none;
		width: auto
	}
}

/* 适配不同屏幕大小 */

@media screen and (prefers-color-scheme: dark) {
	html {
		background: #222;
		color: #FFF
	}

	h2,
	footer {
		color: #CCC
	}

	.menu,
	.menu:before {
		border-color: #FFF
	}

	a,
	button.text {
		color: #DDD;
		border-bottom-color: #777
	}

	a:hover,
	button.text:hover {
		color: #FFF
	}
}

/* Mobile Safari doesn't display this animation smoothly unless I add another CSS declaration. */
@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1;
		color: inherit
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}

@keyframes shine {
	from {
		color: #F8F838;
		text-shadow: 2px 0 #F88008, -2px 0 #F88008, 0 2px #F88008, 0 -2px #F88008
	}

	to {
		color: #F8F8F8;
		text-shadow: 2px 0 #F8F838, -2px 0 #F8F838, 0 2px #F8F838, 0 -2px #F8F838
	}
}

@keyframes rotateStar {
	from {
		opacity: 1;
		transform: rotate(.4turn) translate(45px) rotate(-.4turn)
	}

	to {
		opacity: 1;
		transform: rotate(-.5turn) translate(45px) rotate(.5turn)
	}
}